<header>
    <nav>
        <div class="logo">
            <i class="fa-solid fa-cake-candles">DevDoceria</i>
        </div>
        <div class="nav-menu">
            <ul class="nav-list">
                <li>
                    <a class="nav-list" href="#">Home</a>
                </li>
                <li>
                    <a class="nav-list" href="#">A Confeitaria</a>
                </li>
                <li>
                    <a class="nav-list" href="#">Bolos</a>
                </li>
                <li>
                    <a class="nav-list" href="#">Tortas</a>
                </li>
                <li>
                    <a class="nav-list" href="#">Sobremesas</a>
                </li>
                <li>
                    <a class="nav-list" href="#">Outros</a>
                </li>
            </ul>
        </div>
        <div class="nav-links">
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-pinterest"></i>
        </div>
    </nav>    
    <img src="../../public/brigadeiro.png" alt="">
</header>
